.logo{
	width: 100px;
	vertical-align: middle;
	margin-top: 15px;
	margin-right: 50px;
	margin-left: 30px;


}
.d-block{
	display: inline-block;
}
.navigation-li{
	margin-right: 20px;
}
.date{
	background-color: black;
	font-size: 48px;
	color: white;
	padding: 8px;
	margin-top: 40px;
	margin-left: 30px;
}
.month{
	margin-left: 30px;
	font-size: 22px;
	color: black;
	margin-top: 5px;
}
.article-p{
	width: 850px;
	margin-top: 22px;
}
.image{
	width: 350px;
	vertical-align: top;
	margin-right: 30px;
	margin-left: 15px;
}
.article-h3{
	margin-left: 30px;
	margin-top: 15px;
}
.article{
	margin-top: 22px;
	margin-left: 30px;
}
.divider{
	height: 30px;
	width: 2px
	background-color black;
	margin: 0 5px;
}
.footer-box{
	margin-left: 30px;
	margin-top: 30px;
}
.active{
	color: red;
}
.map{
	background-color: white;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}
.map1{
	margin-left: 30px;
	margin-top: 20px
}
.information{
	color: blue;
}